*{
    font-family:monospace;
    font-weight:bold;
    font-size:32px;
    color:white;
}

body{
    margin:0;
    width:100vw;
    height:100vh;
    background-color:rgb(39 39 42);
}

.container{
    display:flex;
    flex-direction:column;
    gap:20px;
    align-items:center;
    justify-content:center;
    width:100%;
    min-height:100%;
}

.button-div{
    width:100%;
    display:flex;
    justify-content: space-around;
}

.button{
    width:45%;
    height:60px;
    border:none;
    border-radius:20px;
}

.red{
    background:red;
}

.green{
    background:green;
}

.reset{
    background:red;
    padding:10px 20px;
    position:absolute;
    top:20px;
    right:20px;
    border-radius:20px;
}

.reset:active, button:active{
    opacity:0.7;
}